body {
  background-color: #11324D;
  color: #F5F5F5;
  font-family: "Montserrat"
}

.container-fluid {
  padding: 2% 5% 2% 5%;
}

/* Navigation Bar */
.navbar.navbar-expand-lg.navbar-dark {
  padding: 0;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-family: "Akronim";
  letter-spacing: 1.5px;
  padding-left: 7.5%
}

.navbar-nav {
  padding-right: 80px;
}

.nav-item {
  padding: 0 25px;
  float: left;
}

.tagline {
  padding: 0 0px 0px 100px;
}

.tagline-spl {
  color: #3FC1C9;
  font-size: 50px;
  letter-spacing: 1.5px;
  /* position: absolute; */
  /* margin-top: 25px; */
}

.title-image {
  width: 80%;
  padding-top: 50px;
}

h6 {
  font-size: 45px;
}