@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

body{
    width: 100%;
    background: #fafafa;
    /* background: whitesmoke; */
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* background: #fff; */
    background: whitesmoke;
    border-bottom: 2px solid cyan;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-img{
    height: 100%;
    margin-top: 5px;
}
.search-box{
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    width: 410px;
    height: 34px;
    background: #fafafa;
    border: 1px solid black;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}
.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.nav-items{
    height: 22px;
    position: relative;
}
.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}
.icon:hover{
    background-color: cyan;
}
.user-profile{
    width: 23px;
    border-radius: 50%;
    background-image: url(img/dp.jpg);
    background-size: cover;
}
:root{
    font-size: 10px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img{
    display: block;
}

.container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn{
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden{
    position: absolute;
    height: 1px;
    widows: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/*Profile section*/

.profile {
    padding: 5rem 0;

}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-top: 30px;
} 

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings{
    margin-top: 7.1rem;
}

.profile-user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}
.profile-edit-btn{
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
    
}

.profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;

}
.profile-stats li{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 1.6rem;
    cursor: pointer;
    font-weight: 700;
}

.profile-stats li:last-of-type{
    margin-right: 0;
}

.profile-bio{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn{
    font-weight:600;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item{
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.gallery-item-info{
    display: none;
}

.gallery-item-info li{
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, .1);
}

.fa-clont,
.fa-comment{
    transform: rotateY(180deg);
    
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*css grid suppport for following*/

@supports (display: grid) {
    .profile{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image{
        grid-row: 1 / -1;
    }
}